@import "./base.css";

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}
.hidden-input {
  opacity: 0;
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
}
.card-upload {
  width: 100%;
  border: 1px dashed #9e9e9e !important;
  border-radius: 4px;
  padding: 14px;
  background-color: #f7f7f7 !important;
  color: #919191;
  cursor: all-scroll;
}
.card-upload h5 {
  font-size: 14px;
  font-weight: bold;
}
.card-upload p {
  margin-bottom: 0px;
  font-size: 12px;
}
@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
